<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row top-buffer-sm ">
            <div class="col-md-3 panel panel-default panel-main">
                S-classifieds
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="signin" class="btn btn-default">Sign in</a>
                    <a href="myads" class="btn btn-default">My ads</a>
                    <button type="button" class="btn btn-default">New ad</button>
                </div>
            </div>
        </div>
            {% include 'ad_row.html' %}
    </div>
</body>

</html>
