<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="row top-buffer-sm ">
            <div class="col-md-3 panel panel-default panel-main">
                S-classifieds
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="signin" class="btn btn-default">Sign in</a>
                    <a href="myads" class="btn btn-default">My ads</a>
                    <button type="button" class="btn btn-default">New ad</button>
                </div>
            </div>
        </div>
        <div class="row white-text">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class=r ow>
                    <div class="col-md-12">
                        <h4 class="text-center">
                           {{ ad["category"] }} :  {{ ad["sub_category"] }} 
                        </h4>
                    </div>
                </div>
                <div class=r ow>
                    <div class="col-md-4">
                        <div class="title-info1">City</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["city"] }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-info1">Price</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["price"] }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-info1">Date</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["formatted_date"] }}
                        </div>
                    </div>
                </div>
                <div class=r ow>
                    <div class="col-md-12">
                        <div class="panel-group">
                            <div class="panel panel-default panel-text1">
                                {{ ad["ad_title"] }}
                            </div>
                            <div class="panel panel-default panel-text1">
                                {{ ad["text"] }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class=r ow>
                    <div class="col-md-4">
                        <div class="title-info1">Contact name</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["contact_name"] }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-info1">Contact phone</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["contact_phone"] }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="title-info1">Contact email</div>
                        <div class="panel panel-default panel-text1">
                            {{ ad["contact_email"] }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>

</html>
