<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
  <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/style.css') }}" >
</head>

<body>
    <div class="container-fluid">
        <div class="row top-buffer-sm ">
            <div class="col-md-3 panel panel-default panel-main">
                S-classifieds
            </div>
            <div class="col-md-3">   
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="signin" class="btn btn-default">Sign in</a>
                    <a href="myads" class="btn btn-default">My ads</a>
                    <button type="button" class="btn btn-default">New ad</button>
                </div>
            </div>
        </div>

        <div class="row white-text">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                    <div class = row>
                    <div class = "col-md-6">
                   
                        <div>Contact name</div>
                        <div class="panel panel-default panel-text-left">
                            {{ selected_ad["contact_name"] }}
                        </div>
                     
                    </div>
                        <div class = "col-md-6">
                        <div>Contact phone</div>
                        <div class="panel panel-default panel-text-left">
                            {{ selected_ad["contact_phone"] }}
                        </div>
                    </div>

                    </div>


                    <div class = row>
                    <div class = "col-md-6">
                   
                        <div>City</div>
                        <div class="panel panel-default panel-text-left">
                            {{ selected_ad["city"] }}
                        </div>
                     
                    </div>
                        <div class = "col-md-6">
                        <div>Category</div>
                        <div class="panel panel-default panel-text-left">
                           {{ selected_ad["category"] }} >  {{ selected_ad["sub_category"] }} 
                        </div>
                    </div>

                    </div>


                    <div class = row>
                     <div class = "col-md-12">
                        <div class="panel panel-default panel-text-left">
                            {{ selected_ad["ad_title"] }} 
                        </div>
                     </div>

                    </div>

                    <div class = row>
                     <div class = "col-md-12">
                        <div class="panel panel-default panel-text-left">
                            {{ selected_ad["text"] }} 
                        </div>
                     </div>
                    </div>
                    
                
            </div>
            <div class="col-md-3"></div>
        </div>
   </div>
</body>

</html>
