<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container-fluid">
        {% include 'ad_row.html' %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="{{ url_for('delete_ad', ad_id = ad['id'] ) }}" method="post">
                    <button type="submit" class="btn btn-block black-text">Confirm delete</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

    <body>
