<div class='latest-ads panel panel-default panel-main panel-text'>
        <h4>{{ ad["ad_title"] }}</a></h4>
        <h4>Price : {{ ad["price"] }} Posted on : {{ ad["formatted_date"] }}</h4>
        <h4>User email: {{ ad["user"].email }}</h4>
        <h4>contact email: {{ ad["contact_email"] }}</h4>
        <h4>Category: {{ ad["category"] }}</h4>
        <h4>Sub Category: {{ ad["sub_category"] }}</h4>
        <h4>Location: {{ ad["city"] }}</h4>
        <div>
          {{ ad["text"] }}
        </div>
        <div>
              <h4><a href="ads/{{ ad["id"] }}/edit_ad">EDIT</a></h4>
        </div>
</div>