<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container-fluid">
        <div class="row top-buffer-sm ">
            <div class="col-md-3 panel panel-default panel-main">
                S-classifieds
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="login_simple" class="btn btn-default">Log in</a>
                    <a href="login" class="btn btn-default">Log in simple</a>
                    <a href="../../myads" class="btn btn-default">My ads</a>
                    <a href="google_sign_out" class="btn btn-default">Sign out google</a>
                    <a href="user_profile" class="btn btn-default">My profile</a>
                    <a href="logout_simple" class="btn btn-default">Sign Out</a>
                    <button type="button" class="btn btn-default">New ad</button>
                </div>
            </div>
        </div>


    <div class "row">
     <div class="col-md-3"></div>
     <div class="col-md-6">
    <form>
        <div class="form-group">
            <label for="contact_name">Contact name</label>
            <input type="text" class="form-control" id="contact_name" value='{{ ad["contact_name"] }}'>
        </div>
        <div class="form-group">
            <label for="contact_email">Contact email</label>
            <input type="email" class="form-control" id="contact_email" value='{{ ad["contact_email"] }}'>
        </div>
         <div class="form-group">
            <label for="contact_phone">Contact phone</label>
            <input type="phone" class="form-control" id="contact_phone" value='{{ ad["contact_phone"] }}'>
        </div>
        <div class="form-group">
            <label for="select_city">City</label>
            <select class="form-control" id="select_city">
        		    <option value = "{{ad["city_id"]}}" selected="selected">{{ ad["city"] }}</option>
                	{% for city in cities if not city.name == ad["city"]  %}
                		<option value="{{ city.id }}">{{ city.name }}</option>
                	{% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="select_category">Select category</label>
            <select class="form-control" id="select_category">
                <option>cat1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
         <div class="form-group">
            <label for="select_sub_category">Select sub-category</label>
            <select class="form-control" id="select_sub_category">
                <option>sub_cat_cat1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="ad_price">Price:</label>
            <input type="text" class="form-control" id="ad_price" value='{{ ad["price"] }}'>
        </div>
        <div class="form-group">
            <label for="ad_title">Ad title:</label>
            <input type="text" class="form-control" id="ad_title" value='{{ ad["ad_title"] }}'>
        </div>
        <div class="form-group">
            <label for="ad_text">Description:</label>
            <textarea class="form-control" id="ad_text" rows="8">{{ ad["text"] }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col-md-3"></div>
   </div>
   </div>
</body>

</html>
