<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row top-buffer-sm ">
            <div class="col-md-3 panel panel-default panel-main">
                S-classifieds
            </div>
            <div class="col-md-3  form-inline">
                <select class="form-control">
                    <option>City1</option>
                    <option>City2</option>
                    <option>City3</option>
                </select>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="signin" class="btn btn-default">Sign in</a>
                    <a href="myads" class="btn btn-default">My ads</a>
                    <button type="button" class="btn btn-default">New ad</button>
                </div>
            </div>
        </div>
        <div class="row categories-bar top-buffer">
            <div class="col-md-3">
            </div>
            <div class="col-md-9 form-inline">
            {% for category in categories.keys() %}
                <select class="form-control">
                    <option selected disabled>{{ category }}</option>
                    {% for item in categories[category] %}
                    <option>{{ item }}</option>
                    {% endfor %}
                </select>
            {% endfor %}
            </div>
        </div>
        <div class="row top-buffer">
            <div class="col-md-3">
                <div class="panel panel-default search-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">SEARCH</div>
                    </div>
                    <select class="form-control">
                        <option selected disabled>Location: all</option>
                        <option>City 1</option>
                        <option>City 2</option>
                        <option>City 3</option>
                    </select>
                    <select class="form-control">
                        <option selected disabled>Category: all</option>
                        <option>Motors</option>
                        <option>Rentals</option>
                        <option>Electronics</option>
                    </select>
                    <select class="form-control">
                        <option selected disabled>Sub - Category: all</option>
                        <option>Motors</option>
                        <option>Rentals</option>
                        <option>Electronics</option>
                    </select>
                    <select class="form-control">
                        <option selected disabled>Ads posted: any time</option>
                        <option>Within 3 days</option>
                        <option>Within 1 week</option>
                        <option>Within 2 weeks</option>
                        <option>Within 3 weeks</option>
                        <option>Within 1 months</option>
                        <option>Within 3 months</option>
                        <option>Within 6 months</option>
                    </select>
                    <button class="btn btn-block">SEARCH</button>
                </div>
            </div>
            <div class="col-md-9 latest-ads panel panel-default panel-main">
                <h4>latests ads</h4>
            </div>
        </div>
    </div>
</body>

</html>
