<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    </head>
<body>

<div class="container-fluid">
    {% include 'nav_bar_row.html' %}

    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
            <div class="login-error">{{ common_error_message }}</div>
            </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-3">
                <div class="login-bordered-panel">

                <div class="title-info3">Sign in with your google account</div>
                <div id="signInButton">
                        <span class="g-signin" data-scope="openid email" data-clientid="175017086009-rlcgvef5g9e76859q2u4vb6n1258hcpd.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
                        </span>
                </div>
                </div>
            </div>

            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
    </div>

    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="title-info3">Prefer to use email and password? Login or register: </div>
            </div>
            <div class="col-md-3"></div>
    </div>

    <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
             <div class="login-bordered-panel">
                <div class="title-info3">Already a user? Login with e-mail:</div>
                <div class="login-error">{{ simple_login_error_message }}</div>
                    <div class="login-form-items">
                            <form method="POST" action="/login_or_register">
                                {{ simple_login_form.csrf_token }}
                                <div>
                                    <span class="login-form-label">{{ simple_login_form.email.label }}</span>
                                </div>
                                <div>
                                 {{ simple_login_form.email(size=30) }}
                                 </div>

                                <div>
                                    <span class="login-form-label">{{ simple_login_form.password.label }}</span> 
                                </div>
                                <div>
                                {{ simple_login_form.password(size=30) }}
                                </div>
                                <div>
                                    <input class="btn btn-default btn-login" type="submit" value="Login">
                                </div>
                            </form>
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <div class="login-bordered-panel">
                    <div class="title-info3">New to s-classifieds? Register:</div>
                    <div class="login-error">{{ simple_register_error_message }}</div>
                    <div class="login-form-items">
                    <form method="POST" action="/login_or_register">
                    
                    {{ simple_register_form.csrf_token }}
                        <div>
                            <span class="login-form-label">{{ simple_register_form.name.label }} (optional)</span> 
                        </div>

                        <div>
                         {{ simple_register_form.name(size=30) }}
                        </div>
                        

                        <div>
                            <span class="login-form-label">{{ simple_register_form.email.label }}</span> 
                        </div>

                        <div>
                         {{ simple_register_form.email(size=30) }}
                        </div>

                        <div>
                            <span class="login-form-label">{{ simple_register_form.password.label }}</span> 
                        </div>
                        <div>
                             {{ simple_register_form.password(size=30) }}
                        </div>

                        <div>
                            <span class="login-form-label">{{ simple_register_form.confirm_password.label }}</span> 
                        </div>

                        <div>
                         {{ simple_register_form.confirm_password(size=30) }}
                        </div>
                         <div>
                            <input type="submit" class="btn btn-default btn-login" value="Register">
                        </div>
                    </form>
                    </div>
                    </div>
                </div>
            </div>
           
            <div class="col-md-3"></div>
        </div>

        <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="third-party-login-message" id="third-party-login-result"></div>
        </div>
        <div class="col-md-3"></div>
         
        </div>
    
</div>
    <script>
    window.config = {};
    window.config.google_sign_in_post_url = "/google_sign_in?state={{google_session_state}}";

    </script>
     <script type="text/javascript" src="{{ url_for('static', filename='js/signin_or_register.js') }}"></script>
</body>

</html>