<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container-fluid">
    {% include 'nav_bar_row.html' %}

    <div class="row white-text">
     <div class="col-md-3"></div>
     <div class="col-md-6">
     <div class="panel panel-default panel-text2">New ad</div>
    <form action = "{{ url_for('new_ad') }}" method="post">


        <div class = row>
        <div class = "col-md-6">
        <div class="form-group">
            <label for="contact_name">Contact name</label>
            <input type="text" class="form-control" id="contact_name" name="contact_name" value='{{ ad["contact_name"] }}'>
        </div>
        </div>
        <div class = "col-md-6">
        <div class="form-group">
            <label for="contact_email">Contact email</label>
            <input type="email" class="form-control" id="contact_email" name="contact_email" value='{{ ad["contact_email"] }}'>
        </div>
        </div>
        </div>


        <div class = row>
        <div class = "col-md-6">
         <div class="form-group">
            <label for="contact_phone">Contact phone</label>
            <input type="phone" class="form-control" id="contact_phone" name="contact_phone" value='{{ ad["contact_phone"] }}'>
        </div>
        </div>
        <div class = "col-md-6">
        <div class="form-group">
            <label for="select_city">City</label>
            <select class="form-control" name="select_city" id="select_city">
                    <option value = "{{ad["city_id"]}}" selected="selected">{{ ad["city"] }}</option>
                    {% for city in cities if not city.name == ad["city"]  %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
            </select>
        </div>
        </div>
        </div>


        <div class = row>
        <div class = "col-md-6">
        <div class="form-group">
            <label for="category-selected">Category</label>
            <select id="category-selected" class="form-control" name = "category-selected" onchange="populate_sub_categories_in_search_bar()">
                        <option value ="{{ad["category_id"]}}" selected="selected">{{ ad["category"] }}</option>
                        {% for category in categories.keys() if not category == ad["category"]%}
                            <option value="{{ categories[category].id }}">{{ category }}</option>
                        {% endfor %}
            </select>
        </div>
        </div>

        <div class = "col-md-6">
         <div class="form-group">
            <label for="sub-category-selected">Sub-category</label>
            <select id="sub-category-selected" class="form-control" name="sub-category-selected">
                        <option value ="{{ad["sub_category_id"]}}" selected="selected">{{ ad["sub_category"] }}</option>
                        
                         {% for sub_category in selected_sub_categories if not sub_category["name"] == ad["sub_category"]%}
                            <option value="{{ sub_category["id"] }}">{{ sub_category["name"] }}</option>
                        {% endfor %}
             </select>
        </div>
        </div>
        </div>


        <div class = row>
        <div class = "col-md-6">
        <div class="form-group">
            <label for="ad_price">Price</label>
            <input type="text" class="form-control" id="ad_price" name="ad_price" value='{{ ad["price"] }}'>
        </div>
        </div>

        <div class = "col-md-6">
        </div>
        </div>

        <div class="form-group">
            <label for="ad_title">Title</label>
            <input type="text" class="form-control" id="ad_title" name="ad_title" value='{{ ad["ad_title"] }}'>
        </div>
        <div class="form-group">
            <label for="ad_text">Description</label>
            <textarea class="form-control" id="ad_text" name="ad_text" rows="8">{{ ad["text"] }}</textarea>
        </div>
        <button type="submit" class="btn btn-block black-text">Submit</button>
    </form>
    </div>
    <div class="col-md-3"></div>
   </div>
   </div>
   <script type="text/javascript" src="../../static/js/jquery.min.js"></script>

    <script>
  $(function() {
     all_categories = {{ categories_json | safe }};
  });
  </script>
    <script type="text/javascript" src="../../static/js/new_ad_page.js"></script>

<body>