<!doctype html>
<html>
<!--https://developers.google.com/identity/sign-in/web/-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
   <h2>SIGN IN</h2>
   client id 
175017086009-rlcgvef5g9e76859q2u4vb6n1258hcpd.apps.googleusercontent.com

client secret: 
UAPlLceolwjY5r9qfiNsa-Nd
</body>

</html>
