<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>

<div class="container-fluid">
    {% include 'nav_bar_row.html' %}

    <div class="row about-text">
        <div class="col-md-3"></div>
            <div class="col-md-6">
            <div>S-classifieds by <a href="mailto:dev276236@gmail.com">dev276236@gmail.com</a></div>
            <div>2017</div>
            <div><a href="https://github.com/developer2020github">My github</a></div>

        <div class="col-md-3"></div>
    </div>

   
</div>
    
</body>

</html>